@font-face {
  font-family: 'bannybold_round';
  src: url("banny-boldround-webfont.woff2") format("woff2"), url("banny-boldround-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

.container {
  width: 90.5555555556%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto; }

.bottom__line {
  height: 100%;
  width: 6.0120240481%;
  background-color: #FFD600;
  border-radius: 50px;
  justify-self: center; }

.bold {
  font-weight: 700; }

.elements__form {
  display: grid;
  justify-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 60px);
  grid-row-gap: 10px; }
  .elements__form input, .elements__form select, .elements__form textarea {
    box-sizing: border-box;
    width: 92.3333333333%;
    background-color: #E5E5E5;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    color: rgba(51, 51, 51, 0.5);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px; }
  .elements__form .submit {
    grid-area: 4/1/5/3;
    width: 96.3333333333%;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700; }
  .elements__form .submit:hover {
    background-color: #E8C300;
    color: #ffffff;
    cursor: pointer; }

body {
  display: grid; }
  body header {
    background-image: url(../img/header-bgheadbg-min.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; }
    body header .container {
      position: relative; }
      body header .container .header__content {
        display: grid;
        grid-template-rows: 175px 404px;
        grid-row-gap: 20%; }
        body header .container .header__content nav {
          display: grid;
          grid-template-columns: 41.4330218069% 11.6822429907% 41.4330218069%;
          grid-template-rows: 133px 42px;
          grid-column-gap: 2.7258566978%; }
          body header .container .header__content nav ul {
            display: grid;
            grid-template-columns: repeat(4, 25%); }
            body header .container .header__content nav ul li {
              align-self: center;
              justify-self: center; }
              body header .container .header__content nav ul li a {
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 12px;
                text-decoration: none;
                color: #ffffff;
                text-transform: uppercase; }
              body header .container .header__content nav ul li a:hover {
                color: #FFD600; }
          body header .container .header__content nav img {
            grid-area: 1/2/3/3;
            align-self: end;
            justify-self: center; }
        body header .container .header__content .header__main {
          margin: 0 auto;
          max-width: 100%;
          width: 100%;
          z-index: 5;
          display: grid;
          grid-template-rows: 249px 40px;
          grid-row-gap: 15vh;
          color: #ffffff; }
          body header .container .header__content .header__main .logo {
            display: grid;
            grid-template-columns: 10.1246105919% 77.7258566978% 10.1246105919%;
            grid-column-gap: 1.0124610592%; }
            body header .container .header__content .header__main .logo .logo__main {
              grid-area: 1/2/2/3;
              display: grid;
              grid-template-rows: 18px 139px 5px; }
              body header .container .header__content .header__main .logo .logo__main p {
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 0.5em;
                text-transform: uppercase;
                text-align: center; }
              body header .container .header__content .header__main .logo .logo__main h1 {
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
                font-family: Banny;
                text-align: center;
                align-self: center;
                font-size: 96px; }
              body header .container .header__content .header__main .logo .logo__main span {
                height: 100%;
                width: 6.0120240481%;
                background-color: #FFD600;
                border-radius: 50px;
                justify-self: center; }
              body header .container .header__content .header__main .logo .logo__main .buttons {
                display: grid;
                grid-template-columns: 50% 50%; }
                body header .container .header__content .header__main .logo .logo__main .buttons a {
                  width: 40.0801603206%;
                  height: 60px;
                  align-self: end; }
                  body header .container .header__content .header__main .logo .logo__main .buttons a button {
                    width: 100%;
                    height: 100%;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 5px;
                    background-color: rgba(255, 255, 255, 0);
                    color: #ffffff;
                    text-transform: uppercase;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    font-size: 12px; }
                  body header .container .header__content .header__main .logo .logo__main .buttons a button:hover {
                    background: #E8C300;
                    cursor: pointer; }
                body header .container .header__content .header__main .logo .logo__main .buttons .btn__book {
                  justify-self: end;
                  margin-right: 20px; }
                body header .container .header__content .header__main .logo .logo__main .buttons .btn__exp {
                  justify-self: start;
                  margin-left: 20px; }
            body header .container .header__content .header__main .logo .social {
              grid-area: 1/3/2/4;
              display: grid;
              align-self: center;
              grid-template-rows: repeat(3, 60px);
              grid-row-gap: 20px; }
              body header .container .header__content .header__main .logo .social a {
                text-decoration: none;
                color: #ffffff;
                justify-self: end;
                align-self: center; }
                body header .container .header__content .header__main .logo .social a .contant {
                  display: grid;
                  justify-self: end;
                  align-self: center;
                  border: 1px solid rgba(255, 255, 255, 0.3);
                  border-radius: 50px;
                  width: 60px;
                  height: 60px; }
                  body header .container .header__content .header__main .logo .social a .contant i {
                    align-self: center;
                    justify-self: center; }
                body header .container .header__content .header__main .logo .social a .contant:hover {
                  border: 1px solid rgba(255, 214, 0, 0.5);
                  cursor: pointer; }
                  body header .container .header__content .header__main .logo .social a .contant:hover i {
                    color: #E8C300; }
            body header .container .header__content .header__main .logo .date {
              grid-area: 1/1/2/2;
              max-height: 60px;
              width: 269px;
              justify-self: end;
              align-self: center;
              transform: rotate(-90deg);
              font-family: 'Open Sans', sans-serif;
              font-weight: 700;
              font-size: 12px; }
          body header .container .header__content .header__main .contain {
            display: grid;
            justify-self: center;
            align-self: center;
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            width: 60px;
            height: 60px; }
            body header .container .header__content .header__main .contain a {
              justify-self: center;
              align-self: center;
              text-decoration: none; }
              body header .container .header__content .header__main .contain a .down {
                font-size: 25px;
                color: #ffffff; }
          body header .container .header__content .header__main .contain:hover {
            border: 1px solid rgba(255, 214, 0, 0.5);
            cursor: pointer; }
            body header .container .header__content .header__main .contain:hover .down {
              color: #E8C300; }
      body header .container .lines {
        display: none;
        width: 100%;
        height: 100vh;
        z-index: 4;
        position: absolute;
        grid-template-rows: 100px auto; }
        body header .container .lines .goriz {
          display: grid;
          max-width: 100%;
          grid-template-columns: 45% 45%;
          grid-column-gap: 10%;
          grid-template-rows: 99px 1px; }
          body header .container .lines .goriz .line__first {
            grid-area: 2/1/3/2;
            border: 1px solid rgba(255, 255, 255, 0.4);
            background-color: rgba(255, 255, 255, 0.4);
            width: 99.6240601504%;
            height: 1px; }
          body header .container .lines .goriz .line__second {
            grid-area: 2/2/3/3;
            border: 1px solid rgba(255, 255, 255, 0.4);
            background-color: rgba(255, 255, 255, 0.4);
            width: 99.6240601504%;
            height: 1px; }
        body header .container .lines .vert {
          display: grid;
          grid-template-columns: repeat(4, 25%);
          grid-template-rows: 80% 20%; }
          body header .container .lines .vert span {
            border: 1px solid rgba(255, 255, 255, 0.4);
            width: 99.6240601504%;
            transform: rotate(90deg);
            background-color: rgba(255, 255, 255, 0.4);
            height: 1px; }
          body header .container .lines .vert .line__three {
            grid-area: 1/1/2/2; }
          body header .container .lines .vert .line__four {
            grid-area: 1/2/2/3;
            justify-self: center; }
          body header .container .lines .vert .line__five {
            grid-area: 1/3/2/4; }
          body header .container .lines .vert .line__six {
            grid-area: 2/2/3/3; }
  body main {
    display: grid;
    grid-template-rows: 675px auto; }
    body main .about__us {
      background-color: #ffffff; }
      body main .about__us .container .about__us__content {
        height: 475px;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center; }
        body main .about__us .container .about__us__content .text {
          max-width: 80%;
          display: grid;
          grid-template-rows: 56px 5px 80px 100px;
          grid-row-gap: 25px;
          align-items: center;
          justify-self: center; }
          body main .about__us .container .about__us__content .text h1 {
            align-self: start;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 46px;
            text-transform: uppercase;
            text-align: center; }
          body main .about__us .container .about__us__content .text span {
            width: 10%; }
          body main .about__us .container .about__us__content .text p {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            text-align: center; }
        body main .about__us .container .about__us__content .picture {
          position: relative;
          display: grid; }
          body main .about__us .container .about__us__content .picture img {
            justify-self: center;
            max-width: 100%; }
          body main .about__us .container .about__us__content .picture span {
            width: 250px;
            height: 250px;
            border: 20px solid #E8C300;
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            position: absolute;
            align-self: center;
            justify-self: end; }
    body main .our__team {
      background-image: url(../img/masterbg.jpg);
      background-size: cover;
      background-attachment: fixed; }
      body main .our__team .container .our__team__content {
        display: grid;
        grid-template-rows: 100px 475px;
        grid-template-columns: 50% 50%;
        margin-bottom: 100px;
        color: #ffffff; }
        body main .our__team .container .our__team__content h1 {
          grid-area: 1/1/2/3;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 0.5em;
          text-align: center;
          align-self: center; }
        body main .our__team .container .our__team__content .picture {
          grid-area: 2/1/3/2;
          position: relative;
          display: grid; }
          body main .our__team .container .our__team__content .picture img {
            justify-self: center;
            max-width: 100%;
            border-radius: 5px; }
          body main .our__team .container .our__team__content .picture span {
            width: 250px;
            height: 250px;
            border: 20px solid #E8C300;
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            position: absolute;
            align-self: center;
            justify-self: start; }
        body main .our__team .container .our__team__content .textr {
          align-self: center;
          display: grid;
          grid-template-rows: 56px 5px 80px 100px;
          grid-template-columns: 100%;
          grid-row-gap: 30px; }
          body main .our__team .container .our__team__content .textr h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 38px;
            text-transform: uppercase; }
          body main .our__team .container .our__team__content .textr p {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            text-align: center; }
          body main .our__team .container .our__team__content .textr .bold {
            grid-area: 3/1/4/2; }
          body main .our__team .container .our__team__content .textr .r {
            grid-area: 4/1/5/2; }
    body main .book__a__table {
      background: #ffffff; }
      body main .book__a__table .container .book__content {
        display: grid;
        margin-top: 100px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 475px 100px; }
        body main .book__a__table .container .book__content .left {
          display: grid;
          grid-template-rows: 56px 5px 270px;
          align-self: center; }
          body main .book__a__table .container .book__content .left h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            font-size: 38px; }
          body main .book__a__table .container .book__content .left span {
            width: 10%; }
          body main .book__a__table .container .book__content .left form {
            height: 100%;
            margin-top: 20px; }
            body main .book__a__table .container .book__content .left form fieldset {
              border: none; }
        body main .book__a__table .container .book__content .right {
          position: relative;
          display: grid; }
          body main .book__a__table .container .book__content .right img {
            justify-self: center;
            max-width: 100%;
            border-radius: 5px; }
          body main .book__a__table .container .book__content .right span {
            width: 250px;
            height: 250px;
            border: 20px solid #E8C300;
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            position: absolute;
            align-self: center;
            justify-self: end; }
        body main .book__a__table .container .book__content .bottom__text {
          grid-area: 2/1/3/3;
          text-align: center;
          align-self: center;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          font-size: 12px;
          color: rgba(51, 51, 51, 0.5); }
    body main .specialties {
      background-image: url(../img/bgchocolatebg.jpg);
      background-size: cover;
      background-attachment: fixed; }
      body main .specialties .container .specialties__content {
        display: grid;
        grid-template-rows: 100px 475px;
        grid-template-columns: 50% 50%;
        margin-bottom: 100px;
        color: #ffffff; }
        body main .specialties .container .specialties__content h1 {
          grid-area: 1/1/2/3;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 0.5em;
          text-align: center;
          align-self: center; }
        body main .specialties .container .specialties__content .picture {
          grid-area: 2/1/3/2;
          position: relative;
          display: grid; }
          body main .specialties .container .specialties__content .picture img {
            justify-self: center;
            max-width: 100%;
            border-radius: 5px; }
          body main .specialties .container .specialties__content .picture span {
            width: 250px;
            height: 250px;
            border: 20px solid #E8C300;
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            position: absolute;
            align-self: center;
            justify-self: start; }
        body main .specialties .container .specialties__content .textr {
          align-self: center;
          display: grid;
          grid-template-rows: 56px 5px 80px 100px;
          grid-template-columns: 100%;
          grid-row-gap: 30px; }
          body main .specialties .container .specialties__content .textr h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 38px;
            text-transform: uppercase; }
          body main .specialties .container .specialties__content .textr span {
            width: 10%; }
          body main .specialties .container .specialties__content .textr p {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            text-align: center; }
          body main .specialties .container .specialties__content .textr .bold {
            grid-area: 3/1/4/2; }
          body main .specialties .container .specialties__content .textr .r {
            grid-area: 4/1/5/2; }
    body main .menu {
      background-color: #ffffff; }
      body main .menu .container .menu__content {
        margin-top: 100px;
        margin-bottom: 100px;
        display: grid;
        grid-template-rows: 137px 50px 462px;
        grid-row-gap: 50px; }
        body main .menu .container .menu__content .top {
          display: grid;
          grid-template-rows: 56px 5px 76px;
          align-items: center; }
          body main .menu .container .menu__content .top h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            font-size: 38px; }
          body main .menu .container .menu__content .top span {
            width: 10%; }
          body main .menu .container .menu__content .top p {
            max-width: 70.0934579439%;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            text-align: center;
            justify-self: center; }
        body main .menu .container .menu__content ul {
          list-style: none;
          width: 65.4205607477%;
          justify-self: center;
          display: grid;
          grid-template-columns: repeat(7, 14.2857142857%); }
          body main .menu .container .menu__content ul li {
            display: grid;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
            border-right: 1px solid rgba(51, 51, 51, 0.2);
            color: #333333; }
          body main .menu .container .menu__content ul li:hover {
            color: #E8C300;
            cursor: pointer; }
          body main .menu .container .menu__content ul li:last-child {
            border-right: none; }
        body main .menu .container .menu__content .menu__positions {
          display: grid;
          grid-template-columns: repeat(3, 28.2710280374%);
          grid-template-rows: repeat(7, 66px);
          grid-column-gap: 6.7757009346%;
          justify-items: center; }
          body main .menu .container .menu__content .menu__positions p {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            color: #333333; }
          body main .menu .container .menu__content .menu__positions .about__position {
            color: #999999;
            font-size: 8px;
            font-weight: 400; }
    body main .private__events {
      background-image: url(../img/bgchocolatebg.jpg);
      background-size: cover;
      background-attachment: fixed; }
      body main .private__events .container .events__contant {
        display: grid;
        grid-template-rows: 100px 475px 100px; }
        body main .private__events .container .events__contant h1 {
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
          align-self: center;
          color: #ffffff;
          font-size: 12px;
          letter-spacing: 0.5em; }
        body main .private__events .container .events__contant .events__main {
          display: grid;
          grid-template-columns: 50% 50%; }
          body main .private__events .container .events__contant .events__main .left {
            position: relative;
            display: grid; }
            body main .private__events .container .events__contant .events__main .left img {
              justify-self: center;
              max-width: 100%;
              border-radius: 5px; }
            body main .private__events .container .events__contant .events__main .left span {
              width: 250px;
              height: 250px;
              border: 20px solid #E8C300;
              box-sizing: border-box;
              background: rgba(0, 0, 0, 0);
              box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
              border-radius: 5px;
              position: absolute;
              align-self: center;
              justify-self: start; }
          body main .private__events .container .events__contant .events__main .right {
            display: grid;
            position: relative; }
            body main .private__events .container .events__contant .events__main .right img {
              justify-self: center;
              max-width: 100%;
              border-radius: 5px; }
            body main .private__events .container .events__contant .events__main .right span {
              width: 250px;
              height: 250px;
              border: 20px solid #E8C300;
              box-sizing: border-box;
              background: rgba(0, 0, 0, 0);
              box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
              border-radius: 5px;
              position: absolute;
              align-self: center;
              justify-self: end; }
        body main .private__events .container .events__contant .text__bottom {
          display: grid;
          grid-area: 3/1/4/2; }
          body main .private__events .container .events__contant .text__bottom p {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.5);
            text-align: center;
            align-self: center; }
    body main .gallery {
      height: 360px; }
      body main .gallery .galerry__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr); }
        body main .gallery .galerry__content img {
          max-width: 100%;
          width: 100%; }
    body main .contact {
      background-color: #ffffff;
      margin: 100px 0 100px 0; }
      body main .contact .container .contact__content {
        display: grid;
        grid-template-rows: auto;
        grid-row-gap: 50px; }
        body main .contact .container .contact__content .top {
          display: grid;
          grid-template-rows: repeat(3, auto);
          align-items: center; }
          body main .contact .container .contact__content .top h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            font-size: 36px; }
          body main .contact .container .contact__content .top span {
            width: 8%;
            height: 5px; }
          body main .contact .container .contact__content .top p {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            text-align: center;
            align-self: end;
            max-width: 70%;
            margin-top: 20px;
            justify-self: center; }
        body main .contact .container .contact__content form fieldset {
          border: none; }
          body main .contact .container .contact__content form fieldset .elements__form {
            display: grid;
            grid-template-rows: 60px 120px 60px;
            grid-row-gap: 10px;
            grid-template-columns: 32.7102803738% 16.3551401869% 16.3551401869% 32.7102803738%;
            grid-column-gap: 0.7788161994%; }
            body main .contact .container .contact__content form fieldset .elements__form input, body main .contact .container .contact__content form fieldset .elements__form textarea {
              width: 100%; }
            body main .contact .container .contact__content form fieldset .elements__form #email {
              grid-area: 1/2/2/4; }
            body main .contact .container .contact__content form fieldset .elements__form textarea {
              grid-area: 2/1/3/5; }
            body main .contact .container .contact__content form fieldset .elements__form .contact__info {
              grid-area: 3/1/4/3;
              align-self: center; }
              body main .contact .container .contact__content form fieldset .elements__form .contact__info p {
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                font-size: 12px;
                color: rgba(166, 166, 166, 0.5); }
                body main .contact .container .contact__content form fieldset .elements__form .contact__info p i {
                  font-size: 16px;
                  color: #E8C300; }
            body main .contact .container .contact__content form fieldset .elements__form .submit {
              grid-area: 3/3/4/5; }
  body footer {
    display: grid;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100px; }
    body footer p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      align-self: center;
      justify-self: center; }

/*# sourceMappingURL=style.css.map */
