@import font

*
    margin: 0
    padding: 0
    
.container
    width: 1284px/1440px*100%
    max-width: 87%
    padding-left: 80px
    padding-right: 80px
    margin: 0 auto

header
    background-image: url(../img/header-bgheadbg-min.jpg)
    background-size: cover
    height: 100vh

    .container

        .header__content
            display: grid
            grid-template-rows: 175px/800px*100% 153px/800px*100% 332px/800px*100%
            grid-row-gap: 151px/800px*100% 30px/800px*100% 

            nav
                display: grid
                grid-template-columns: repeat(532px/1284px*100%,4) 150px/1284px*100% repeat(532px/1284px*100%,4)
                grid-column-gap: 35px/1284px*100%

    
